<h3 class="mt-4">Defesa</h3>
<ol class="breadcrumb mb-4">
  <li class="breadcrumb-item active">Cadastrar defesa</li>
</ol>
<div class="container">
  <form #cadastroAgendamentoForm="ngForm" (ngSubmit)="onSubimit()">
      <div class="row">
        <div class="col-md-12">
              <div class="alert alert-success" role="alert" *ngIf="success">
                Defesa agendada com sucesso!!
              </div>
              <div class="alert alert-danger" role="alert" *ngFor="let erro of errors">
                    {{erro}}
              </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <div class="form-group">
              <label class="form-label">Data: *</label>
              <input type="datetime-local" class="form-control" [(ngModel)]="agendamento.data"
              name="data" placeholder="dd/mm/yyyy">
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <button type="submit" class="btn btn-success">
              <i class="fa fa-save"></i> Salvar
          </button>
          <button type="button" class="btn btn-danger ml-1" (click)="voltarLista()">
            <i class="fa fa-arrow-circle-left"></i> Voltar
        </button>
        </div>
      </div>
    </form>
</div>
