<h1 class="mt-4">Alunos</h1>
<ol class="breadcrumb mb-4">
  <li class="breadcrumb-item active">{{ aluno.id ? 'Edição' : 'Cadastro' }}</li>
</ol>
<div class="container">
  <form #professorForm="ngForm" (ngSubmit)="onSubmit()">
     <div class="row">
      <div class="col-md-12">
          <div class="alert alert-success" role="alert" *ngIf="success">
            Aluno salvo/atualizado com sucesso!
          </div>
          <div class="alert alert-danger" role="alert" *ngFor="let erro of errors">
                {{erro}}
          </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <div class="form-group">
          <label>Nome: *</label>
          <input type="text" class="form-control" [(ngModel)]="aluno.nome" name="nome"  >
        </div>
      </div>

      <div class="col-md-6">
        <div class="form-form-group">
          <label>Matricula: *</label>
          <input type="text" class="form-control" [(ngModel)]="aluno.matricula"
            name="matricula">
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-form-group">
          <label>Apelido: *</label>
          <input type="text" class="form-control"
            name="apelido" placeholder="nome e ultimo nome" [(ngModel)]="aluno.apelido">
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-form-group">
          <label>CPF: *</label>
          <input type="text" class="form-control" [(ngModel)]="aluno.cpf"
            name="cpf">
        </div>
      </div>
      <div class="col-md-12">
        <div class="form-form-group">
          <label>Curso: *</label>
          <input type="email" class="form-control" [(ngModel)]="aluno.curso"
            name="email">
        </div>
      </div>
    </div>
    <br>
    <div class="row">
      <div class="col-md-4">
        <button type="submit" class="btn btn-success" *ngIf="!aluno.id" >
            <i class="fa fa-save"></i> Salvar
        </button>

        <button type="submit" class="btn btn-primary" *ngIf="aluno.id">
          <i class="fa fa-sync-alt"></i> Atualizar
        </button>

        <button type="button" class="btn btn-danger ml-1" (click)="voltarListaAlunos()">
          <i class="fa fa-arrow-circle-left"></i> Voltar
      </button>
      </div>
    </div>
  </form>
</div>
