<h1 class="mt-4">Professores</h1>
<ol class="breadcrumb mb-4">
  <li class="breadcrumb-item active">Cadastro</li>
</ol>
<div class="container">
  <form #professorForm="ngForm" (ngSubmit)="onSubmit()">
     <div class="row">
     <div class="col-md-12">
        <div class="alert alert-success" role="alert" *ngIf="success">
          Professor salvo/atualizado com sucesso!
        </div>
        <div class="alert alert-danger" role="alert" *ngFor="let erro of errors">
              {{erro}}
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <div class="form-group">
          <label>Nome: *</label>
          <input type="text" class="form-control" [(ngModel)]="professor.nome" name="nome"  >
        </div>
      </div>

      <div class="col-md-6">
        <div class="form-form-group">
          <label>Matricula: *</label>
          <input type="text" class="form-control" [(ngModel)]="professor.matricula"
            name="matricula">
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-form-group">
          <label>Apelido: *</label>
          <input type="text" class="form-control"
            name="apelido" placeholder="nome e ultimo nome" [(ngModel)]="professor.apelido">
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-form-group">
          <label>Email: *</label>
          <input type="email" class="form-control" [(ngModel)]="professor.email"
            name="email">
        </div>
      </div>
    </div>
    <br>
    <div class="row">
      <div class="col-md-4">
        <button type="submit" class="btn btn-success">
            <i class="fa fa-save"></i> Salvar
        </button>
        <button type="button" class="btn btn-danger ml-1">
          <i class="fa fa-arrow-circle-left"></i> Voltar
      </button>
      </div>
    </div>
  </form>
</div>
