<h3 class="mt-4">Lista de Orientações</h3>
<ol class="breadcrumb mb-4">
  <li class="breadcrumb-item active">Consulta</li>
</ol>
<div class="container">
  <div class="row">
    <div class="col-md-2">
      <button class="btn btn-warning" (click)="cadastrarNovo()">
        <i class="fa fa-plus">
        </i> Novo
      </button>
    </div>
  </div>
  <br>
  <div class="row">
    <div class="col-md-12">
      <table class="table table-condensed table-hover">
        <thead>
          <tr>
            <th>ID</th>
            <th>Orientador</th>
            <th>Aluno</th>
            <th>Status Trabalho</th>
            <th>Curso</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let cad of cadastro">
            <td >{{ cad.id }}</td>
            <td >{{cad.orientador.nome}}</td>
            <td>{{ cad.discente.nome }}</td>
            <td>{{cad.status}}</td>
            <td>{{cad.curso}}</td>
            <td>
              <button class="btn btn-primary"
                routerLink="/cadastro-tcc/form/{{ cad.id }}">
                <i class="fa fa-edit"></i>
              </button>
              <button class="btn btn-success ml-1"
                routerLink="/cadastro-ata/lista/{{ cad.id }}">
                <!--<i class="fa fa-clipboard"></i>-->
                <i class="fa fa-handshake"></i>
              </button>
            </td>
            <!--<button class="btn btn-danger ml-1"
                data-toggle="modal" data-target="#modalDelecao">
                <i class="fa fa-trash"></i>
              </button>
            </td>-->
          </tr>
        </tbody>
      </table>
    </div>
</div>


