<div class="container-fluid">
  <h1 class="mt-4">Home</h1>
  <ol class="breadcrumb mb-4">
    <li class="breadcrumb-item active">Bem vindo(a)</li>
  </ol>
  <div class="row">
    <div class="col-xl-3 col-md-6">
      <div class="card bg-success text-white mb-4">
       <div class="card-body">
        <h3>{{ concluidos }}</h3>
        <p>Projetos Concluidos</p>
       </div>
      </div>
    </div>
    <div class="col-xl-3 col-md-6">
      <div class="card bg-warning text-white mb-4">
        <div class="card-body">
          <h3>{{andamento}}</h3>
        <p>Projetos em Andamento</p>
        </div>
      </div>
    </div>
    <div class="col-xl-3 col-md-6">
      <div class="card bg-danger text-white mb-4">
        <div class="card-body">
          <h3>{{trancado}}</h3>
          <p>Projetos Trancados</p>
        </div>
      </div>
    </div>
  </div>
</div>
