<h3 class="mt-4">Professores</h3>
<ol class="breadcrumb mb-4">
  <li class="breadcrumb-item active">Consulta</li>
</ol>
<div class="container">
  <div class="row">
    <div class="col-md-2">
      <button class="btn btn-warning" (click)="cadastrarNovo()">
        <i class="fa fa-plus">
        </i> Novo
      </button>
    </div>
  </div>
  <br>
  <div class="row">
    <div class="col-md-12">
      <table class="table table-condensed table-hover">
        <thead>
          <tr>
            <th>ID</th>
            <th>Nome</th>
            <th>Matricula</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let professor of professores">
            <td>{{ professor.id }}</td>
            <td>{{ professor.nome }}</td>
            <td>{{ professor.matricula }}</td>
            <td>
              <button class="btn btn-primary"
                routerLink="/professores-form/{{ professor.id }}">
                <i class="fa fa-edit"></i>
              </button>
              <button class="btn btn-danger ml-1" (click)="preparaDelecao(professor)"
                data-toggle="modal" data-target="#modalDelecao">
                <i class="fa fa-trash"></i>
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <div id="modalDelecao" class="modal fade" role="dialog">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            Confirmação
          </div>
          <div class="modal-body" *ngIf="professorSelecionado">
            Confirma a deleção do(a) professor {{ professorSelecionado.nome }}?
          </div>
          <div class="modal-footer">
            <button class="btn btn-success" (click)="deletarProfessor()"
              data-dismiss="modal">Confirmar</button>
            <button class="btn btn-default" data-dismiss="modal">Cancelar</button>
          </div>
        </div>
      </div>
  </div>
</div>
