<h1 class="mt-4">Professores</h1>
<ol class="breadcrumb mb-4">
  <li class="breadcrumb-item active">Consulta</li>
</ol>
<div class="container">
  <div class="row">
    <div class="col-md-2">
      <button class="btn btn-warning" (click)="cadastrarNovo()">
        <i class="fa fa-plus">
        </i> Novo
      </button>
    </div>
  </div>
  <br>
  <div class="row">
    <div class="col-md-12">
      <table class="table table-hover table-bordered">
        <thead class="thead-dark">
          <tr>
            <th>ID</th>
            <th>Nome</th>
            <th>Matricula</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let professor of professores">
            <td>{{ professor.id }}</td>
            <td>{{ professor.nome }}</td>
            <td>{{ professor.matricula }}</td>
            <td>
              <button class="btn btn-primary"
                routerLink="/professores-form/{{ professor.id }}">
                <i class="fa fa-edit"></i>
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
